In [2]:
import pandas as pd

# Load data
df = pd.read_csv('Bengaluru_House_Data.csv')

# Show top rows
df.head()

# Summary
df.info()

# Check null values
df.isnull().sum()

# Look at feature distribution
print("Unique locations:", df['location'].nunique())
print("Price range:", df['price'].min(), "-", df['price'].max())
print("Total sqft examples:", df['total_sqft'].unique()[:10])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB
Unique locations: 1305
Price range: 8.0 - 3600.0
Total sqft examples: ['1056' '2600' '1440' '1521' '1200' '1170' '2732' '3300' '1310' '1020']

In [3]:
df = df.dropna(subset=['location', 'size', 'total_sqft', 'price'])

In [4]:
df['bath'] = df['bath'].fillna(df['bath'].median())

In [5]:
print("Unique locations:", df['location'].nunique())
print("Price range:", df['price'].min(), "-", df['price'].max())
print("Total sqft examples:", df['total_sqft'].unique()[:10])

Unique locations: 1304
Price range: 8.0 - 3600.0
Total sqft examples: ['1056' '2600' '1440' '1521' '1200' '1170' '2732' '3300' '1310' '1020']